<div class="card">
  <div class="card-body">
    <h4 class="card-title">Bảng đơn đặt hàng</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr>
                <th style="word-wrap: break-word; max-width: 80px;">ID Hóa đơn</th>
                <th style="display: none">Tình trạng </th>
                <th>Thời gian mua</th>
                <th>Tên khách hàng</th>
                <th style="word-wrap: break-word; max-width: 80px;">ID Khách hàng</th>
                <th>Địa điểm</th>
                <th>Tổng tiền (VND)</th>
                <th style="display: none">price</th>
                <th style="word-wrap: break-word; max-width: 100px;">Tình trạng</th>
                <th style="word-wrap: break-word; max-width: 30px;">Xem</th>
              </tr>
            </thead>
            <tbody>
              <% bills.forEach(function(item){ %>
              <tr>
                <td class="id" style="word-wrap: break-word; max-width: 100px;"><%=item._id%></td>
                <td style="display: none">
                  <% if(item.status === "Đã giao") {%>
                  <label class="badge badge-success"><%=item.status%></label>
                  <% }%>
                  <% if(item.status === "Đang giao") {%>
                  <label class="badge badge-warstatus_selectning"><%=item.status%></label>
                  <% }%>
                  <% if(item.status === "Chưa giao") {%>
                  <label class="badge badge-danger"><%=item.status%></label>
                  <% }%>
                </td>
                <td class="date"><%=moment(item.date).format('HH:mm DD/MM/YYYY') %></td>
                <td class="name_customer"><%=item.name_customer%></td>
                <td class="id_customer" style="word-wrap: break-word; max-width: 100px;"><%=item.id_customer%></td>
                <td class="city"><%=item.city%></td>
                <td class="total"><%=item.total%> VND</td>
                <td>
                  <form>
                    <div class="form-group">
                      <% if(item.status === "Đã giao") {%>
                      <select class="form-control status_select" id="selectBox" data-old="Đã giao">
                        <option selected>Đã giao</option>
                        <option>Đang giao</option>
                        <option>Chưa giao</option>
                      </select>
                      <% }%>
                      <% if(item.status === "Đang giao") {%>
                      <select class="form-control status_select" id="selectBox" data-old="Đang giao">
                        <option>Đã giao</option>
                        <option selected>Đang giao</option>
                        <option>Chưa giao</option>
                      </select>
                      <% }%>
                      <% if(item.status === "Chưa giao") {%>
                      <select class="form-control status_select" id="selectBox" data-old="Chưa giao">
                        <option>Đã giao</option>
                        <option>Đang giao</option>
                        <option selected>Chưa giao</option>
                      </select>
                      <% }%>
                    </div>
                  </form>
                </td>
                <td>
                  <button id="vip" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"
                    data-backdrop="false">
                    Xem
                  </button>
                </td>
              </tr> <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false"
  style="display: none">
  <div class="modal-dialog" style="width:80%;" role="document">
    <div class="modal-content">
      <div class="modal-header cus-modal-header">
        <h4 class="modal-title" id="myModalLabel">Chi tiết đơn hàng</h4>
      </div>
      <div class="modal-body cus-modal-body pt-0 mt-0 pb-0 mb-0">
        <div class="container">
          <div class="row">
            <div id="list-product" class="col-sm-6 list-product1">
            </div>
            <div class="col-sm-6 border-left" style="padding-top: 10px">
              <div class="row">
                <div class="col-sm-6">
                  <div style="display:flex; flex-direction:row;">
                    <h6>ID:</h6>
                    <h6 class="id"></h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div style="display:flex; flex-direction:row; justify-content: space-between">
                    <h6>Trạng thái</h6>
                  </div>
                </div>
                <div class="col-sm-6 none-padding">
                  <div style="display:flex; flex-direction:row; justify-content: space-between">
                    <div class="pt-1">
                      <label class="badge status">Đã giao</label>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="name"></p>
                </div>
                <div class="col-sm-6 none-padding">
                  <p class="date"></p>
                </div>
              </div>
              <div class="row border-bottom">
                <div class="col-sm-12 none-padding-right">
                  <p class="city"></p>
                </div>
              </div>
              <div class="row margin-top-20px">
                <div class="col-sm-12 none-padding-right">
                  <h5>Thông tin đơn hàng</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p>Tổng cộng</p>
                </div>
                <div class="col-sm-6 none-padding">
                  <p class="price_total" style="text-align: end;"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" style="font-weight: bold">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>